<section id="contact">
  <div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contact Point</h2>
            <h3 class="section-subheading text-muted">
              Got an issue? Want to consult or work with us? Drop us a line. <br>
              We offer a free consultation, all you need to do is ask :)
          </h3>
          </div>
    </div>
    <div class="row text-center">
            <div class="col-sm-6">
                <h2 class="section-subheading text-muted">
				Location
				</h2>
				<div class='embed-container'>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116849.68121271313!2d90.34534792801864!3d23.763330911878356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c780dd02daad%3A0x4f1a2e5a49189276!2sHassan+and+Associates!5e0!3m2!1sen!2sbd!4v1547489705274" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
		
		<div class="row text-center">
            <div class="col-sm-6">
                <h2 class="section-subheading text-muted">
				Contact
				</h2>
				<div class='embed-container'>
				<iframe src="https://hassan.com.bd/contact/" width="100%" height="400" frameborder="0" scrolling="auto" style="border:none;" title="contact" allowfullscreen</iframe>

                
                </div>
            </div>
    </div>
    
  </div>
</section>
