<section id="contact">
  <div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contact Point</h2>
            <h3 class="section-subheading text-muted">
              Got an issue? Want to consult or work with us? Drop us a line. <br>
              We offer a free consultation, all you need to do is ask :)
          </h3>
          </div>
    </div>
    <div class="row text-center">
            <div class="col-sm-6">
                <h2 class="section-subheading text-muted">
				Location
				</h2>
				<div class='embed-container'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.5520953105984!2d90.41319961498161!3d23.76334668458296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c780dd02daad%3A0x4f1a2e5a49189276!2sHassan+and+Associates!5e0!3m2!1sen!2sbd!4v1518696904071" width="100%" height="395" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
		
		<div class="row text-center">
            <div class="col-sm-6">
                <h2 class="section-subheading text-muted">
				Contact
				</h2>
				<div class='embed-container'>
				<div id="wufoo-x1ma70je0l0k0ru">
<a href="https://upodesta.wufoo.com/forms/x1ma70je0l0k0ru"></a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"><a href="http://www.wufoo.com/features/"></a> </div>
<script type="text/javascript">var x1ma70je0l0k0ru;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'upodesta',
'formHash':'x1ma70je0l0k0ru',
'autoResize':true,
'height':'440',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { x1ma70je0l0k0ru = new WufooForm();x1ma70je0l0k0ru.initialize(options);x1ma70je0l0k0ru.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
                
                </div>
            </div>
    </div>
    
  </div>
</section>
