<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
       <span class="copyright"><a href="https://creativecommons.org/licenses/by/4.0/"><img src="/img/logos/cc-by.svg" alt="cc-by" width="88" height="31"></a>     &copy; <a href="https://syedhassanali.com"> Hassan</a> {{ 'now' | date: "%Y" }} </span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
            <li><a href="https://hassanandassociates.biz/files/privacy-policy">Privacy</a>
            </li>
            <li><a href="https://hassanandassociates.biz/files/terms-of-use">Terms</a>
            </li>
			<li><a href="https://ama.hassanandassociates.biz"><img src="/img/logos/ask.jpg" alt="ask" width=100 height=42></a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
