<!-- Identy Aside -->			
	<aside class="identy">
	    <div class="container">
		
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Frequently asked questions </h2>
	            <img src="/img/logos/about.svg" alt="about" width=96 height=96>
			</div>
				<div class="row">
				<p class="large text-muted">
                  <b> Do You Really Need a Professional Service ?</b> <br>
				  Like any other country, in Bangladesh specially the taxation policies are also quite hectic and complicated that people fail to understand that. Mostly for an outsider the taxation rules tough to understand. One can find a huge versatility in the taxation. A slight error in the preparation of income tax returns can further complicate the problem and make you experience great hassles. Whether you are a business owner or an individual, tax is something that you will have to file within specified deadlines and no one can avoid. Being an individual or a limited company to handle all this while handle the business is quite a headache and this is where a professinal services are being hired for customized tax and other business related planning. So, this customized planning is very important for a safe future. You might earn a lot, but if can't save a money in this proper way, hard consequences awaiting you in the near future.<br>
				  </p>
				  <p class="large text-muted">
				  <b> Basis of Consideration ?</b> <br> 
				  The best way to empower you is to seek help from a professional income tax, company law and other business services provider firm. While choosing the right one, you must verify a few questions. The important things to be considered are for how long the service peovider is in this field, what is the educational qualification of the members of the firm, whether he is a memeber in the local Taxes Bar Association or not. Once you get satisfied answers to these questions, it is safe to go ahead in order to get professional and customized services. </br>
			      </p>
				  <p class="large text-muted">	 
				 <b> Why Choose Us ?</b> <br>
				  If you're looking for a firm that will focus on your individual needs and always treat you like a client who matters, look no further. Having 28 years experience our firm is enough to offer a full range of professional and customized services to give you the individual attention that you deserve. We will throughly and conscientiously study your personal situation and tailor our advice to your specific needs. Although we're a team  for providing our services in Dhaka, Bangladesh but we serve clients across the country and all over the world. We take pride in our commitment to the highest standards of integrity and honesty. We'll never make false assurances or promises. Your trust is far too important to us. <br>
                  </p>
				  <p class="large text-muted">
				  <b> Our Privacy Policy ?</b> <br>
				  Your privacy is very important to us. Information you share with your preparer remains strictly confidential. Only with your written consent, we will furnish your tax information to a third party. All client information is maintained in a secure location and accessible only by our trusted staff <br>
				  </p>
				  <p class="large text-muted">
				  <b> Responsible Person of the Firm ?</b> <br> Syed Hassan Ali, CEO of this firm is the responsible person for all kind of activities <br>
		        </p>
			</div> 
        </div>
    </div>
</aside> 	