<section id="products">
    <div class="container">
        
		
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> What we serve </h2>
				<img src="/img/logos/serv.svg" alt="serv" width=96 height=96>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
			    <img src="/img/logos/check-mark.svg" alt="check-mark" width=26 height=26>
                <h3 class="service-heading">Income tax </h3>
				<p class="text-muted">
                 Effective tax preparation and planning can help you to minimize your future tax liability. We can help you proactively manage both your personal and business tax issues, including how upcoming business opportunities impact your tax status and vice versa. Not all tax planning opportunities are readily apparent. By having us on your team, you are more likely to benefit from those opportunities as we are constantly identify new ways to reduce your tax liabilities
                </p>
            </div>
            <div class="col-md-4">
			    <img src="/img/logos/check-mark.svg" alt="check-mark" width=26 height=26>
                 <h3 class="service-heading"> Company law </h3>
                <p class="text-muted">
                  The business entity - public limited company, private limited company, joint venture company, sole proprietorship, partnership etc. - that you select for your business has enormous financial and tax implications. it is important that you make right decision. we can explain each choice and its implications. As your business grows and changes, the type of business entity you choose may need change and update also
                </p>
            </div>
            <div class="col-md-4">
			    <img src="/img/logos/check-mark.svg" alt="check-mark" width=26 height=26>
                <h3 class="service-heading"> Business services </h3>
                <p class="text-muted">
                  As a true business partner, we stand ready to engage in business consulting projects to help you make the right decisions as we have the necessary business acumen and analytical capabilities. We also to help you get the other types of Govt. registrations, permits, licenses etc. for your business business requirement including financial statements. We tailor each process to the unique needs of your business  
                </p>
            </div>
        </div>

    </div>
</section>
