<section id="social">
    
	    <div class="container">
		
		<div class="row">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">  Other Networks </h2>
		<img src="/img/logos/socialnet1.svg" alt="team" width=96 height=96>
        </div>
			<div class="row">
			<p class="large text-muted">
            We are also mentioned in several social media networks. You can specially like, share on our Facebook page or use our messenger without leaving our site.
           </p>
      </div>
    </div>
	
		
	
	    <div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/fb.svg" alt="fb" width=36 height=36> 
				</h4>
				<div class='embed-container'>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhassanandassociates.biz%2F&tabs=timeline%2C%20events%2C%20messages&width=340&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=154447828537157" width="100%" height="380" style="border:none;overflow:hidden" scrolling="no" frameborder="80" allowTransparency="true"></iframe>
                </div>
            </div>
		
		<div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/twt.svg" alt="twt" width=36 height=36>
				</h4>
				<div class='embed-container'>
                 <a class="twitter-timeline" data-width="100%" data-height="400" frameborder="80" data-dnt="true" href="https://twitter.com/hasanassociates?ref_src=twsrc%5Etfw">Tweets by hasanassociates</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          
                </div>
            </div>
    </div>
</section>