<!-- Work Aside -->			
	<aside class="work">
	    <div class="container">
		
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> We know our job </h2>
	            <img src="/img/logos/algorithm3.svg" alt="algorithm" width=96 height=96>
			</div>
				<div class="row">
				<p class="large text-muted">
                With our 28 years of experience, we take care almost every possible steps to solve problems on case to case basis promptly. It is appreciated everywhere that there is no failure case in our record history. Each of your issue is a partnership. We start with a conversation about your subject matter, then develop a plan with you. <br> Working with us following benefits are avialable at your end :
		        </p>
			</div>
        </div>
		
		    <div class="row">
		        <div class="col-sm-6">
			    
                <ul class="large text-muted">
                    <li>
                    <b>Free Advice :</b> We provide free advice on request.
                    </li>
				</ul>
				
				<ul class=" large text-muted">
                    <li>
                    <b> Hassele-Free :</b> We provide quick and accurate assessement and hassle-free services.
                    </li>					
		        </ul>
				
				<ul class=" large text-muted">
                    <li>
                    <b> Storage Facility :</b> You may store your service related documents online securely and access them anytime from anywhere.
                    </li>					
		        </ul>
                
				<ul class=" large text-muted">
                    <li>
                    <b> Data Encryption :</b> We maintain bank-level data encryption and protection.
                    </li>					
		        </ul>
				<ul class="large text-muted">
                    <li>
                    <b>Documentation Support :</b> We provide reliable online and manual documetaion support.
                    </li>
				</ul>
                
				<ul class="large text-muted">
		            <li>
                    <b> Download :</b> Unlimited data revisions, PDF print and downloads.
                    </li>
				</ul>	
				
				<ul class=" large text-muted">
                    <li>
                    <b> Professional Team :</b> We have a good professional team to achieve our professional goal.
                    </li>					
		        </ul>
		        
				<ul class="large text-muted">
					<li>
                    <b> FOR MORE INFORMATION :</b>  <a href="#contact" class="btn btn-primary">Contact us</a>
                    </li>
				</ul>
            </div>
		    
			<div class="row">
                <div class="col-sm-6">
			    <p class="large text-muted">
		        Following benefits are also available:
                </p>
		  			    
                <ul class=" large text-muted">
                    <li>
                    <b>Personalised e-mail :</b> 01 of our customized e-mail id e.g. yourname@hassanandassociates.ml
					</li>
				</ul>
					
                <ul class="large text-muted">
                    <li>
                    <b>Personal Disk Space :</b> 10 GB disk online space for personal use that can share personal documents, image or video with anybody.  
                    </li>
				</ul>
                <ul class=" large text-muted">
                    <li>
                    <b> Translator :</b> A built-in-translator helps to read or send mails in own preferred languages.
                    </li>					
		        </ul>
		        <ul class="large text-muted">
		            <li>
                    <b> IMAP & POP :</b> Mailboxes are accessible through IMAP and POP. It can be set up conveniently in desktop and mobile email program. Even easily managable with GMAIL, Outlook, Yahoo.
                    </li>
				</ul>	
				
				<ul class="large text-muted">
		            <li>
                    <b> Task manager :</b> A simple task manager built into mailbox lets anybody to keep a to-do list.
                    </li>
				</ul>	
				
                <ul class="large text-muted">
		            <li>
                    <b> Virus Filter :</b> A spam and virus filter <a href="https://www.drweb.ru">(Dr.Web)</a> moves out virus-laden, junk, phishing mails. 
                    </li>
				</ul>	
			</div>
        </div>
    </div>
</aside> 	