<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>terms-of-use</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
	  
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://hassanandassociates.biz/img/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://hassanandassociates.biz/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://hassanandassociates.biz/img/ico/favicon-16x16.png">
    <link rel="manifest" href="https://hassanandassociates.biz/img/ico/manifest.json">
    <link rel="mask-icon" href="https://hassanandassociates.biz/img/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://hassanandassociates.biz/img/ico/favicon.ico">
    <meta name="msapplication-config" content="https://hassanandassociates.biz/img/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "https://hassanandassociates.biz/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "https://hassanandassociates.biz/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
	
	    
</head>

<body>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="https://hassanandassociates.biz" target="_blank">Home</a>
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
<section id="terms">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h/1 class="section-heading"> <img src="/img/brand/ha-logo6.webp" alt="" width=300 height=55></h1>
		</div>
	</div>
	<div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"> <img src="/img/brand/terms.webp" alt="" width=200 height=100></h2>
		</div>
	</div>
		<div class="row">
        <p class="large text-muted">
        
   <p>Thank you for using HassanAndAssociates page! We're happy you're here. Please read this Terms of use agreement carefully before accessing or using HassanAndAssociates page. Because it is such an important contract between us and our users, we have tried to make it as clear as possible.</p>

<p>Effective date: October 11, 2017</p>

<h3>
<a id="definitions" class="anchor" href="https://hassanandassociates.biz/HassanAndAssociates page-terms-of-use/#definitions" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Definitions</h3>

<p><strong>Short version:</strong> <em>We use these basic terms throughout the agreement, and they have specific meanings. You should know what we mean when we use each of the terms. There's not going to be a test on it, but it's still useful information.</em></p>

<ol>
<li>The “Agreement” refers, collectively, to all the terms, conditions, notices contained or referenced in this document (the “Terms of use” or the "Terms") and all other operating rules, policies (including the HassanAndAssociates page Privacy Statement, available at <a href="https://hassanandassociates.biz/files/privacy-policy">hassanandassociates.biz/privacy-policy</a> and procedures that we may publish from time to time on the Website.</a>.</li>
<li>The “Service” refers to the applications, software, products, and services provided by HassanAndAssociates page.</li>
<li>The “Website” refers to HassanAndAssociates page’s website located at <a href="https://hassanandassociates.biz">hassanandassociates.biz</a>, and all content, services, and products provided by HassanAndAssociates or through the Website. It also refers to HassanAndAssociates page-owned subdomains of hassanandassociates.biz. Occasionally, websites owned by HassanAndAssociates may provide different or additional Terms of use. If those additional terms conflict with this Agreement, the more specific terms apply to the relevant page or service.</li>
<li>“The User,” “You,” and “Your” refer to the individual person, company, or organization that has visited or is using the Website or Service; that accesses or uses any part of the website; or that directs the use of the website in the performance of its functions. A User must be at least 13 years of age.</a>).</li>
<li>“HassanAndAssociates page,” “We,” and “Us” refer to hassanandassociates.ml page, as well as our affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees.</li>
<li>“Content” refers to content featured or displayed through the Website, including without limitation text, data, articles, images, photographs, graphics, software, applications, designs, features, and other materials that are available on the Website or otherwise available through the Service. "Content" also includes Services.</em></li>
</ol>

<p>A human must create your account; you must be 13 or over; you must provide a valid email address; Accounts registered by "bots" or other automated methods are not permitted.</p>

<p>In some situations, third parties' terms may apply to your use of HassanAndAssociates page. Please be aware other parties' terms govern their relationships with you.</p>

<p>Your use of the Website and Service must not violate any applicable laws, including copyright or trademark laws, export control laws, or other laws in your jurisdiction. You are responsible for making sure that your use of the Service is in compliance with laws and any applicable regulations.</p>

<p>You agree that you will not under any circumstances upload, post, or transmit any content that:</em></p>

</ol>
<ul>
<li>is unlawful or promotes unlawful activities;</li>
<li>is or contains sexually obscene content;</li>
<li>is libelous, defamatory, or fraudulent;</li>
<li>is discriminatory or abusive toward any individual or group;</li>
<li>contains or installs any active malware or exploits, or uses our platform for exploit delivery (such as part of a command and control system); or</li>
<li>infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights.</em></li>
</ul>
</ol>

<p>While using HassanAndAssociates page, you agree that you will not under any circumstances:</em></p>

</ol>
<ul>
<li>harass, abuse, threaten, or incite violence towards any individual or group, including HassanAndAssociates page employees, officers, and agents, or other HassanAndAssociates page Users;</li>
<li>use our servers for any form of excessive automated bulk activity (for example, spamming), or relay any other form of unsolicited advertising or solicitation through our servers, such as get-rich-quick schemes;</li>
<li>attempt to disrupt or tamper with HassanAndAssociates page's servers in ways that could harm our Website or Service, to place undue burden on HassanAndAssociates page's servers through automated means, or to access HassanAndAssociates page's Service in ways that exceed your authorization (other than those authorized by the <a href="https://hassanandassociates.biz">HassanAndAssociates page</a>.</li>
<li>impersonate any person or entity, including any of our employees or representatives, including through false association with HassanAndAssociates page, or by fraudulently misrepresenting your identity or site's purpose; or</li>
<li>violate the privacy of any third party, such as by posting another person's personal information without consent.</em></li>
</ul>
</ol>

<p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without HassanAndAssociates page's express written permission.</p>

<p>Scraping refers to extracting data from our Website via an automated process.</em></p>

</ol>
<ul>
<li>Researchers may scrape public, non-personal information from HassanAndAssociates page for research purposes only.</li>
<li>Archivists may scrape HassanAndAssociates page for public data for archival purposes.</em></li>
</ul>
</ol>

<p>You may not scrape HassanAndAssociates page for spamming purposes, including for the purposes of selling HassanAndAssociates page users' personal information.</p>

<p>Misuse of HassanAndAssociates page Users' Personal Information is prohibited.</p>

<p>You agree not to engage in activity that significantly harms our Users. We will resolve disputes in favor of protecting our Users as a whole.</p>

<p>This Agreement is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/"><img src="/img/logos/cc-by.svg" alt="cc-by" width=88 height=31> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

<p>You agree to these Terms of use when using any of HassanAndAssociates page.</p>

<p>We do not generally prohibit use of HassanAndAssociates page for advertising. However, we expect our users to follow certain limitations, so HassanAndAssociates page does not become a spam haven. No one wants that.</p>

<p>Advertising Content, like all Content, must not violate the law or these Terms of Use, for example through excessive bulk activity such as spamming. We reserve the right to remove any advertisements that, in our sole discretion, violate any HassanAndAssociates page terms or policies.</p>

<p>We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements, but barring legal requirements, we will delete your full profile within 90 days of cancellation or termination (though some information may remain in encrypted backups). This information can not be recovered once your account is cancelled.</p>

<p>HassanAndAssociates page has the right to suspend or terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. HassanAndAssociates page reserves the right to refuse service to anyone for any reason at any time.</p>

<p>All provisions of this Agreement which by their nature should survive termination will survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

<p>We use email and other electronic means to stay in touch with our users.</p>

<p>For contractual purposes, you (1) consent to receive communications from us in an electronic form via the email address you have submitted or via the Service; and (2) agree that all Terms of use, agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that those communications would satisfy if they were on paper. This section does not affect your non-waivable rights.</p>

<p>Communications made through email or HassanAndAssociates page Support's messaging system will not constitute legal notice to HassanAndAssociates page or any of its officers, employees, agents or representatives in any situation where notice to HassanAndAssociates page is required by contract or any law or regulation. Legal notice to HassanAndAssociates page must be in writing.</p>

<p>HassanAndAssociates page only offers support via email, in-Service communications, and electronic messages. We do not offer telephone support.</p>

<p>We provide our service as is, and we make no promises or guarantees about this service. Please read this section carefully; you should understand what to expect.</p>

<p>HassanAndAssociates page does not warrant that the Service will meet your requirements; that the Service will be uninterrupted, timely, secure, or error-free; that the information provided through the Service is accurate, reliable or correct; that any defects or errors will be corrected; that the Service will be available at any particular time or location; or that the Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, content or other material obtained from the Service.</p>

<p>We will not be liable for damages or losses arising from your use or inability to use the service or otherwise arising under this agreement. Please read this section carefully; it limits our obligations to you.</p>

<p>You understand and agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from </em></p>

</ol>
<ul>
<li>the use, disclosure, or display of your User-Generated Content;</li>
<li>your use or inability to use the Service;</li>
<li>any modification, price change, suspension or discontinuance of the Service;</li>
<li>the Service generally or the software or systems that make the Service available;</li>
<li>unauthorized access to or alterations of your transmissions or data;</li>
<li>statements or conduct of any third party on the Service;</li>
<li>any other user interactions that you input or receive through your use of the Service; or</li>
<li>any other matter relating to the Service.</em></li>
</ul>
</ol>

<p>Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy set forth in this Agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.</p>

<p>You are responsible for your use of the service. If you harm someone else or get into a dispute with someone else, we will not be involved.</p>

<p>If you have a dispute with one or more Users, you agree to release HassanAndAssociates page from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.</p>

<p>You agree to indemnify us, defend us, and hold us harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your use of the Website and the Service, including but not limited to your violation of this Agreement, provided that HassanAndAssociates page (1) promptly gives you written notice of the claim, demand, suit or proceeding; (2) gives you sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that you may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases HassanAndAssociates page of all liability); and (3) provides to you all reasonable assistance, at your expense.</p>

<p>We want our users to be informed of important changes to our terms, but some changes aren't that important — we don't want to bother you every time we fix a typo. So while we may modify this agreement at any time, we will notify users of any changes that affect your rights and give you time to adjust to them.</p>

<p>We reserve the right, at our sole discretion, to amend these Terms of use at any time and will update these Terms of use in the event of any such amendments. We will notify our Users of material changes to this Agreement, such as price changes, at least 30 days prior to the change taking effect by posting a notice on our Website. For non-material modifications, your continued use of the Website constitutes agreement to our revisions of these Terms of use.</p>

<p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website (or any part of it) with or without notice.</p>

<p>Except to the extent applicable law provides otherwise, this Agreement between you and HassanAndAssociates page and any access to or use of the Website or the Service are governed by the laws within the jurisdicttion of Bangladesh, without regard to conflict of law provisions. You and HassanAndAssociates page agree to submit to the exclusive jurisdiction and venue of the courts located in the City and County of Dhaka, Bangladesh</p>

<p>HassanAndAssociates page may assign or delegate these Terms of use and/or the <a href="https://Hassanandassociates.biz/files/privacy-policy">HassanAndAssociates page Privacy Statement</a>, in whole or in part, to any person or entity at any time with or without your consent, including the license grant. You may not assign or delegate any rights or obligations under the Terms of use or Privacy Statement without our prior written consent, and any unauthorized assignment and delegation by you is void.</p>

<p>Throughout this Agreement, each section includes titles and brief summaries of the following terms and conditions. These section titles and brief summaries are not legally binding.</p>

<p>If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. Any failure on the part of HassanAndAssociates page to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.</p>

<p>This Agreement may only be modified by a written amendment signed by an authorized representative of HassanAndAssociates page, or by the posting by HassanAndAssociates page of a revised version</a>. These Terms of use, together with the HassanAndAssociates page Privacy Statement, represent the complete and exclusive statement of the agreement between you and us. This Agreement supersedes any proposal or prior agreement oral or written, and any other communications between you and HassanAndAssociates page relating to the subject matter of these terms including any confidentiality or nondisclosure agreements.</p>


<div class="buttons-container">
<a class="border-button" href="https://hassanandassociates.biz/" target="_blank">Go To Homepage</a>
<a class="border-button" href="mailto:upodesta@gmail.com" target="_blank">Ask a Question</a>

</div>
</div>
</section>


 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "https://hassanandassociates.biz/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

	
	
    <!-- Plugin JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "https://hassanandassociates.biz/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "https://hassanandassociates.biz/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- jssor.slider JavaScript -->
    <script src="{{ "/js/jssor.slider-27.1.0.min" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/agency.js" | prepend: site.baseurl }}"></script>
	
</body>
