<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mail.hassanandassociates.biz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
	  
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://hassanandassociates.biz/img/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://hassanandassociates.biz/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://hassanandassociates.biz/img/ico/favicon-16x16.png">
    <link rel="manifest" href="https://hassanandassociates.biz/img/ico/manifest.json">
    <link rel="mask-icon" href="https://hassanandassociates.biz/img/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://hassanandassociates.biz/img/ico/favicon.ico">
    <meta name="msapplication-config" content="https://hassanandassociates.biz/img/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "https://hassanandassociates.biz/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "https://hassanandassociates.biz/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
	
	    
</head>

<body>
<header>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="https://hassanandassociates.biz" target="_blank">Home</a>
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
<boby>
<section id="mail">
  <div class="container">

   <div class="row text-center">
      <div class="col-lg-12 text-center">
	              
                <h4 class="service-heading">
				<img src="/img/logos/mail.svg" alt="mail" width=65 height=65> <img src="/img/logos/disk.jpg" alt="disk" width=65 height=65>
				</h4>
				<div class='embed-container'>
				<iframe src="https://taxadvisorbd.com" width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
        
	</div>
	</div>
		
</div>
</section>



 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "https://hassanandassociates.biz/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

	
	
    <!-- Plugin JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "https://hassanandassociates.biz/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "https://hassanandassociates.biz/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- jssor.slider JavaScript -->
    <script src="{{ "/js/jssor.slider-27.1.0.min" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/agency.js" | prepend: site.baseurl }}"></script>
	
</body>
