<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Comment-Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
	  
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://hassanandassociates.biz/img/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://hassanandassociates.biz/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://hassanandassociates.biz/img/ico/favicon-16x16.png">
    <link rel="manifest" href="https://hassanandassociates.biz/img/ico/manifest.json">
    <link rel="mask-icon" href="https://hassanandassociates.biz/img/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://hassanandassociates.biz/img/ico/favicon.ico">
    <meta name="msapplication-config" content="https://hassanandassociates.biz/img/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "https://hassanandassociates.biz/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "https://hassanandassociates.biz/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
	
	    
</head>

<body>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="https://hassanandassociates.biz" target="_blank">Home</a>
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
<section id="comment">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h/1 class="section-heading"> <img src="/img/brand/ha-logo6.webp" alt="" width=300 height=55></h1>
		</div>
	</div>
	<div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"> <img src="/img/brand/comment.jpg" alt="" width=250 height=100></h2>
		</div>
	</div>
		<div class="row">
			<p class="large text-muted">
		
          <p>Effective date: <strong>October 11, 2017</strong></p>

<p>Unlike the Wild West of most of the Internet, we have a very strict comment policy on Hassan and Associates blog sites. If you’re an asshole, you’ll be banned. Sorry, assholes!</p>

<p>That, most important, statement out of the way, here’s more you should know whether you’re a regular commenter or new to the site.</p>

<p>If your comment does not immediately appear on the site after posting, it may have been flagged for review. There are a number of things which will get your comment flagged for review, we ask that you please keep that in mind before resubmitting the comment multiple times or contacting us about it.</p>

<ul>
<li>Use of any of the curse words and/or slurs we have on our blacklist will automatically flag a comment so it won’t appear on our site. Sometimes these words are used as part of a good discussion, these comments will be approved by a moderator when appropriate.</li>

<li>Using a Disqus account without a verified email address will automatically flag a comment.</li>

<li>Fluctuations in the space time continuum. Sometimes things just get auto-flagged and we don’t know why.</li>

<li>Comments can also be flagged for review by our readership (please do not abuse this option for other users you simply disagree with, it makes our moderation jobs a lot harder).</li>
</ul>

<p><strong>Here are some things which will get your comment deleted</strong></p>

<ul>
<li>Personal attacks against another commenter or the writer of the post/website. This can run from name calling to sentences which include the words “people like you” or statements which begin “I bet you” or “you must/probably” etc. This is regardless of what “side” you’re on.</li>

<li>Jokes or aggressive negative comments on the aesthetic appearance of a person (commenters, writers, and folks mentioned in an article alike)</li>

<li>Hate speech or other clearly intentional jerk behavior. This includes, but is not limited to: the use of the word feminazi or a comments which denigrates women, feminism or feminists, the LGBTQ community; broad imprecations or assumptions based on race; and anything that amounts to “ugh the gays,” “ugh liberals,” “ugh, fangirls,” etc</li>

</ul>

<p> There will be some who look at these rules and think that the moderators of Hassan and Associates sites have too much power to shut down conversations. We have two responses to this </p>

<p>First: <strong>It’s our site, we get to make the rules.</strong> We’re not taking away your freedom of speech by deleting/banning you. You can take your anger elsewhere, we don’t want it.</p>

<p>We try to treat our comment section like a series of dinner parties, where our job as hosts is to foster interesting, free discussion for all our guests, not just the loudest, most assertive, scariest ones. You can be a poor conversationalist, present a different viewpoint, or talk loudly and brashly. But if you threaten, annoy, derail, or in other ways spoil the atmosphere of discussion for others, we reserve the right to not invite you back next time. If that principle is too restrictive for you, there are many other sites out there that share our coverage and have more liberal commenting rules</p>

<p>Second: We ask everybody who comes to our sites to remember that conversations require listening as well as speaking. And we are firm believers in the fact that banning a commenter only prevents them from speaking, not from listening.</p>

<p>For those who agree with these rules, please keep in mind that we are only human. We are not sleepless technodroids, fueled by the radiation of the miniature universes housed within our quantmantium frames. If you see a comment which violates these rules, the most helpful thing you can do is to flag it, rather than commenting about how poorly moderated the thread or post is or contacting us through social media or email to that effect.</p>

<p>If you’re having a disagreement with another user and your replies have gone into the double digits, consider stepping back from the computer for a while. We love discussion but we don’t want users running themselves ragged trying to convince someone else online they’re wrong.</p>

<p><strong>Happy commenting, all !!</strong>


<div class="buttons-container">

<a class="border-button" href="mailto:info@hassanandassociates.biz" target="_blank">Contact us</a>
</div>
</div>
</section>



 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "https://hassanandassociates.biz/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

	
	
    <!-- Plugin JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "https://hassanandassociates.biz/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "https://hassanandassociates.biz/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- jssor.slider JavaScript -->
    <script src="{{ "/js/jssor.slider-27.1.0.min" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "https://hassanandassociates.biz/js/agency.js" | prepend: site.baseurl }}"></script>
	
</body>
